<footer class="site-footer">
    <a href="mailto:{{ site.email }}">Get in touch</a> <span class="dot"></span> 
    <a href="{{ "/feed.xml" | relative_url }}">RSS</a> <span class="dot"></span> 
    <a href="{{ "/licence/" | relative_url }}">Small print</a> <span class="dot"></span> 
    <a href="https://robinmetral.com/webmaster">Created by Robin</a></p>
</footer>
