<header class="site-header">
<nav class="site-nav">
    {% assign pages = site.pages | sort: "weight" %}
    {% for p in pages %}
        {% if p.menu == "menu" %}
        <a class="page-link{% if p.url == page.url %} active{% endif %}" href="{{ site.baseurl }}{{ p.url }}">{{ p.menutitle }}<br><span class="dot"></span></a>
        {% endif %}
    {% endfor %}
</nav>
</header>
