/* Declare fonts */
/* Source http://css-snippets.com/web-fonts-faux-bold-and-italic/ */

@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'josefin';
    src: url('fonts/josefinsans-light-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin';
    src: url('fonts/josefinsans-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'josefin';
    src: url('fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'josefin';
    src: url('fonts/josefinsans-italic-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
