@import "fonts";

/* Variables */
    /* Define color variables */
    $background-color: #f0f0f0;
    $text-color: #000000;
    $accent-color: #ff6161;
    /* Define fonts variables */
    $text-font: "josefin", sans-serif;
    $heading-font: "playfair", Georgia, serif;

/* Site-wide styling */
:root {
    color: $text-color; /* Default text color */
    background-color: $background-color; /* Default background color */
    font-family: $text-font; /* Default font-family */
    font-size: 20px; /* Default font-size */
}

html {
    width: 100%;
    overflow-x: hidden; /* Remove horizontal scroll caused by feature images, source https://cloudfour.com/thinks/breaking-out-with-viewport-units-and-calc/#one-big-dumb-caveat */
}

body {
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}

p {
    line-height: 30px;
}

a {
    text-decoration: none;
    color: $accent-color;
}

a:hover {
    text-decoration: underline;
}

span.dot {
    background: $text-color;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    width: 8px;
    vertical-align: baseline;
    margin: 0 10px 0 10px;
}

/* Header */

nav.site-nav {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

a.page-link {
    margin: 0 20px 0 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $text-color;
    font-weight: bold;
}

a.page-link:hover {
    text-decoration: none;
    color: $accent-color;
}

a.page-link span.dot {
    visibility: hidden;
}

a.page-link.active {
    color: $accent-color;
}

a.page-link.active span.dot {
    visibility: visible;
    background: $accent-color;
}

/* Footer */

.site-footer {
    margin-top: 100px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: bold;
}

.site-footer a {
    color: $text-color;
}

.site-footer a:hover {
    text-decoration: none;
    color: $accent-color;
}

.site-footer span.dot {
    background-color: $accent-color;
}

/* Main */

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

.post-header {
    margin-bottom: 50px;
}

h1.post-title, h1.page-heading {
    font-size: 48px;
    text-align: center;
}

.post-meta {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -20px; /* Bring closer to post title */
}

/* Style homepage post list */

div.post-list {
    margin: 0 -20px 0 -20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

a.post-entry {
    margin: 20px;
    position: relative;
    color: $text-color;
}

a.post-entry img {
    width: 100%;
    height: 70%;
}

a.post-entry article {
    display: block;
    position: absolute;
    padding: 20px 20px 22px 0; /* 22px = 20px + 2px border (on hover) */
    bottom: 0;
    left: 0;
    max-width: 80%;
    background-color: $background-color;
}

a.post-entry p {
    margin: 0; /* Remove unwanted spacing */
}

a.post-entry:hover article {
    border-bottom: 2px solid black;
    padding-bottom: 20px
}

a.post-entry time {
    text-transform: uppercase;
    font-size: 14px;
}

a.post-entry span.post-title {
    font-family: $heading-font;
    font-weight: bold;
    font-size: 24px;
}

/* Style post-content elements */

.post-content img {
    /* Set image width to span the entire screen */
    /* Source https://css-tricks.com/full-width-containers-limited-width-parents/#article-header-id-6 */
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* Image will never be higher than 90vh and will never be deformed (overrides width settings above) */
    max-height: 90vh;
    object-fit: contain;
}

.post-content h1 { /* Secondary heading in post-content */
    font-size: 40px;
    margin-top: 50px;
}

h2 { /* Post title in post list */
    font-size: 30px;
}

.feature-image {
    /* Set image width to span the entire screen */
    /* Source https://css-tricks.com/full-width-containers-limited-width-parents/#article-header-id-6 */
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* Image will be cropped and centered at 80vw height */
    max-height: 80vh;
    object-fit: cover;
}

.post-content .dot {
    background-color: $accent-color;
}
