---
layout: default
---

<div class="home">
{%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<div class="post-list">
    {%- for post in site.posts -%}
    <a class="post-entry" href="{{ post.url | relative_url }}">
        <img src="{{ site.baseurl }}/assets/images/{{ post.image }}">
        <article>
            <p><time datetime="{{ post.date | html5date }}">{{ post.date | date_to_long_string }}</time></p>
            <p><span class="post-title">{{ post.title | escape }}</span></p>
        </article>
    </a>
    {%- endfor -%}
    </div>
{%- endif -%}
</div>
