---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

<header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
    <time datetime="{{ page.date | html5date }}">{{ page.date | date_to_long_string }}</time>
        {%- if page.author -%}
        <span class="dot"></span><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}
    </p>
</header>

<div class="post-content e-content" itemprop="articleBody">
    {{ content }}
</div>

<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
